In [104]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression # OLS algorithm
from sklearn.linear_model import Ridge # Lasso algorithm
from sklearn.neighbors import KNeighborsRegressor

In [105]:
#creating dataframe
df = pd.read_csv("Data_Marketing_Customer_Analysis_Round2.csv")
df.drop(columns=["Unnamed: 0"], inplace = True)
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [106]:
df = df.dropna(axis=0)

In [107]:
numerics_df = df._get_numeric_data().drop(columns=["Total Claim Amount"])
numerics_df

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
2,14947.917300,22139,100,34.0,31,0.0,2
3,22332.439460,49078,97,10.0,3,0.0,2
10,5154.764074,82730,127,13.0,31,0.0,1
13,5454.587929,66334,69,25.0,25,0.0,4
16,5326.677654,76717,66,26.0,10,0.0,6
...,...,...,...,...,...,...,...
10902,3579.023825,28304,91,10.0,30,2.0,1
10903,2771.663013,59855,74,30.0,82,4.0,1
10904,19228.463620,0,187,14.0,32,0.0,2
10906,5259.444853,61146,65,7.0,68,0.0,6
10908,11971.977650,64195,158,0.0,27,4.0,6

In [108]:
X= numerics_df
y= df["Total Claim Amount"]

In [109]:
y

2        480.000000
3        484.013411
10       442.521087
13       331.200000
16       300.528579
            ...
10902    655.200000
10903    355.200000
10904    897.600000
10906    273.018929
10908    618.288849
Name: Total Claim Amount, Length: 4543, dtype: float64

# OLS

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [111]:
ols=LinearRegression()    # model

ols.fit(X_train.to_numpy(), y_train)   # model train

ols_yhat=ols.predict(X_test.to_numpy())   # model prediction
y_pred_train=ols.predict(X_train.to_numpy())

In [112]:
#R2
r2= ols.score(X_test.to_numpy(), y_test)
print(r2)

0.4958016949247739

In [113]:
#adjusted rsquare
N=X_train.shape[0]
p=7
x = (1-r2)
y = (N-1) / (N-p-1)
adj_rsquared = (1 - (x * y))
print("Adjusted-R2 : " , adj_rsquared)

Adjusted-R2 :  0.49468902527296854

In [117]:
neigh = KNeighborsRegressor(n_neighbors=7)
neigh.fit(X_train.to_numpy(),y_train)


neigh_yhat=neigh.predict(X_test.to_numpy())   # model prediction
neigh_y_pred_train=neigh.predict(X_train.to_numpy())

In [118]:
#R2
r2_neigh = neigh.score(X_test.to_numpy(), y_test)
print(r2)

0.4958016949247739

In [119]:
#adjusted rsquare neigh
N=X_train.shape[0]
p=7
x_neigh = (1-r2_neigh)
y = (N-1) / (N-p-1)
neigh_adj_rsquared = (1 - (x * y))
print("Adjusted-R2 : " , neigh_adj_rsquared)

Adjusted-R2 :  0.49468902527296854